.sidenav {
    height: 100%; 
    width: 180px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 180px;
    padding: 0px 60px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.img_block{
    text-align: center;
    padding: 0;
    margin: 0;
}

.img_block p{
    padding: 0;
    margin: 0;
}

img{
    border: 1px solid #111;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
.sidenav {
    width: 160px; 
    padding-top: 16px;
}

.sidenav a {
    padding: 4px 6px 4px 14px;
    font-size: 12px;
}

.main {
    margin-left: 160px;
    padding: 0px 40px;
    text-align: justify;
}
}

@media screen and (max-width: 720px) {
.sidenav {
    width: 120px; 
    padding-top: 12px;
}

.sidenav a {
    padding: 4px 6px 4px 14px;
    font-size: 10px;
}

.main {
    margin-left: 120px;
    padding: 0px 30px;
    text-align: justify;

}
}

@media screen and (max-width: 420px) {
.sidenav {
    width: 80px; 
    padding-top: 10px;
}

.sidenav a {
    padding: 2px 4px 2px 10px;
    font-size: 6px;
}

.main {
    margin-left: 80px;
    padding: 0px 16px;
    text-align: justify;

}
}
