.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 30px;
    text-align: justify;
}

@media screen and (max-width: 900px) {
.sidenav {
    width: 140px; 
    padding-top: 16px;
}

.sidenav a {
    padding: 4px 6px 4px 14px;
    font-size: 12px;
}

.main {
    margin-left: 140px;
    padding: 0px 26px;
    text-align: justify;
}
}

@media screen and (max-width: 720px) {
.sidenav {
    width: 100px; 
    padding-top: 12px;
}

.sidenav a {
    padding: 4px 6px 4px 14px;
    font-size: 10px;
}

.main {
    margin-left: 100px;
    padding: 0px 20px;
    text-align: justify;

}
}

@media screen and (max-width: 420px) {
.sidenav {
    width: 60px; 
    padding-top: 8px;
}

.sidenav a {
    padding: 2px 4px 2px 10px;
    font-size: 6px;
}

.main {
    margin-left: 60px;
    padding: 0px 16px;
    text-align: justify;

}
}
